* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    border: 0;
    padding: 0fr;
    box-sizing:border-box;
    color: #222;
  }
  
  header{
    margin:0;
    padding:0;
  }

  .head{
    margin-top: 20px;
    align-content: center;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
  }
  
  
  main{
    text-align: center;
  }
  
  nav a{
    display: inline-block;
    list-style: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
    text-decoration: none;
    padding:0 5px;
  }
  
  nav a:Hover{
    text-decoration: underline;
  }

  .imglogo{
    display:block;
    justify-content: center;
    padding-top: 109px;
    margin: auto;
  }
  .imglogo h3{
    position: relative;
    bottom: 20px;
    left: 102px;
    color: #4285f4;
    font: 16px/16px "roboto-regular", arial, sans-serif;
    white-space: nowrap;
}

  .imgsearchbar{
      display: flex;
      justify-content: center;
  }
  .imgsearchbar i{
    position: relative;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    bottom:50%;
    right: 57%;
    line-height: 24px;
  }
  input[type = text]{
    background:transparent;
    margin:1.5rem auto;
    line-height: 34px;
    font-size: small;
    width: 100%;
    display:block;
    font-size: 16px;
    height: 44px;
    width: 582px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
  }

  input[type = submit]
  {
    display:inline-block;
    font-size: 14px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  input[type = submit]:Hover{
    border: 1px solid #5F6368;
    color: black;
  }